.search-box{
    font-size: 20px;
    border: solid 0.3em;
    display: inline-block;
    position: relative;
    border-radius: 2.5em;
}

.search-box input[type=text]{
    /* font-family: inherit; */
    font-weight: bold;
    width: 2.5em;
    height: 2.5em;
    padding: 0.3em 2.1em 0.4em;
    border: none;
    box-sizing: border-box;
    border-radius: 2.5em;
}

.logos {

    width: 15rem !important;
    height: 15rem !important;
    /* aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: color-burn; */
    /* filter: blur(3px); */
    /* filter: grayscale(100%); */
    /* filter: invert(1); */
    /* filter: brightness(120%); */
    filter: hue-rotate(90deg);
    filter: saturate(200%);
    filter: sepia(100%);
    filter: contrast(175%) brightness(103%);
    filter: grayscale(0.4) blur(5px);

}

/* body{
    background-color: salmon;
} */